Git_on_a_CLI.txt
*.log
*.bak
*.pfx
*.pem
*.pub
*.ppk
*.orig
*.xls
*.xlsx
*.doc
*.docx
*.csv
*.odt
*.tmp
*.cfg
*.conf
*.zip
*.rar
*.tar.gz
*.exe
*.dll
*.so
*.mp3
*.mp4
*.avi
*.mpeg
*.mpg
*.gif
*.bmp
*.png
*.jpg
*.jpeg
*.wav
*.jar
*.class
*.o
*.pdf
sql2csv/__pycache__/
